$primary: #3969E3;
$blueDark: #1A2646;
$blueDark2: #22459D;
$gray: #959595;
$bdr: 8px;
$bd: 1px solid rgba(73, 83, 180, 0.25);
$bdc: rgba(73, 83, 180, 0.25);

*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 18px;
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  color: #555;
}
h1, h3 {
  font-weight: 300;
}
h5 {
  font-weight: 500;
}
button {
  border: 1px solid transparent;
  background-color: $primary;
  color: #fff;
  padding: 2px 15px;
  height: 40px;
  border-radius: $bdr;
  &.outline {
    background-color: #fff;
    color: $gray;
    border: $bd;
  }
}
input {
  border: $bd;
  border-radius: $bdr;
  width: 100%;
  padding: 8px 12px;     
}
.mb-1 {
  margin-bottom: 52px !important;
}
.box {
  background: #FFFFFF;
  border-radius: $bdr;
  border: $bd;
  transition: 0.2s;
  &.shodow, &:hover {
    border-color: transparent;
    box-shadow: 0px 4px 14px rgba(73, 83, 180, 0.25);
  }
}

.container {
  max-width: 620px;
  margin: 0 auto;
}
section {
  padding: 0 24px;
}

.row {
  display: flex;
  margin: 0 -15px;
  align-items: stretch;
  .col {
    flex: 1;
    padding: 0 15px;
  }
  .col-3 {
    width: 50%;
    padding: 0 15px;
  }
}

h1.title {
  text-align: center;
  font-size: 42px;
  color: $blueDark;
  margin-bottom: 82px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -32px;
    left: 50%;
    width: 220px;
    border-radius: 3px;
    height: 5px;
    transform: translate(-50%, 0);
    background-color: rgba(73, 83, 180, 0.25);
  }
}

.hi {
  font-size: 34px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.hello {
  min-height: 500px;
  padding: 220px 0 72px 0;
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='9.95715' y1='4.37114e-09' x2='9.95715' y2='19.7143' stroke='%23AAAAAA' stroke-width='0.2'/%3E%3Cline y1='9.75715' x2='19.7143' y2='9.75715' stroke='%23AAAAAA' stroke-width='0.2'/%3E%3C/svg%3E");
  h1 {
    font-size: 72px;
    color: $blueDark;
    letter-spacing: 12px;
    text-shadow: 0px 2px 16px rgba(73, 83, 180, 0.25);
  }
  h5 {
    font-size: 21px;
    letter-spacing: 15px;
    margin-bottom: 72px;
  }
  hr {
    max-width: 230px;
    margin: 0 auto;
    height: 6px;
    border: none;
    border-radius: 3px;
    background-color: $primary;
    margin-bottom: 102px;
  }
  .sub-title {
    font-size: 21px;
    margin-bottom: 42px;
    font-weight: 400;
  }
  .link-profile {
    a {
      text-decoration: none;
      color: $blueDark;
    }
    p {
      font-size: 14px;
    }
    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 186px;
      margin-bottom: 12px;
      img {
        width: 50%;
      }
    }
  }
}

.elements {
  min-height: 500px;
  padding-bottom: 120px;
  // linear-gradient(transparent 50%, #fff)
  background: url("./images/linear.png") repeat-x bottom, url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='9.95715' y1='4.37114e-09' x2='9.95715' y2='19.7143' stroke='%23AAAAAA' stroke-width='0.2'/%3E%3Cline y1='9.75715' x2='19.7143' y2='9.75715' stroke='%23AAAAAA' stroke-width='0.2'/%3E%3C/svg%3E");
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 22px;
  >.title {
    margin-bottom: 14px;
    color: $blueDark;
    font-weight: 400;
  }
  .pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: $bd;
    overflow: hidden;
    margin-bottom: 12px;
    img {
      width: 100%;
    }
  }
  .act {
    display: flex;
    align-items: center;
    button {
      margin: 0 6px;
    }
  }
}
.card {
  overflow: hidden;
  >.pic {
    min-height: 220px;
    border-bottom: 1px solid $bdc;
    img {
      width: 100%;
    }
  }
  >.tools {
    display: flex;
    padding: 8px 15px 2px 15px;
    >div {
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
    .comments {
      margin-left: 22px;
    }
    .share {
      margin-left: auto;
    }
  }
  >.write {
    padding: 4px 15px 20px 15px;
  }
}

.header {
  background-color: #111;
  color: #eee;
  border-radius: $bdr;
  padding: 15px;
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    .logo {
      margin-left: 12px;
      .pic {
        height: 26px;
        img {
          height: 100%;
        }
      }
      .txt {
        margin-top: -4px;
        font-size: 10px;
      }
    }
    .src {
      margin-left: auto;
    }
  }
  .menu {
    width: 100%;
    .list {
      font-size: 14px;
      &::-webkit-scrollbar {
        display: none;
      }
      .item {
        margin-right: 15px;
      }
    }
  }
}

.calendar {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: $bdr;
  padding: 8px;
  box-shadow: 0px 15px 38px rgba(73, 83, 180, 0.25);
  .item {
    flex: 1;
    &.active {
      position: relative;
      z-index: 5;
      p, span {
        color: #fff;
      }
      &::after {
        position: absolute;
        z-index: -1;
        left: 0;
        top: -50%;
        content: '';
        border-radius: 18px;
        width: 100%;
        height: 200%;
        background-color: $primary;
      }
    }
    span {
      font-size: 12px;
      color: $gray;
      font-weight: bold;
    }
    p {
      margin-top: -8px;
      color: $blueDark;
    }
  }
}

.user {
  padding: 8px;
  display: flex;
  align-items: center;
  >.pic {
    border-radius: 50%;
    border: $bd;
    height: 42px;
    width: 42px;
  }
  >.info {
    margin-left: 12px;
    small {
      color: $gray;
      position: relative;
      font-size: 11px;
      display: block;
      margin-top: -4px;
      font-weight: 500;
      padding-left: 14px;
      &::after {
        position: absolute;
        left: 0;
        top: 4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: green;
        content: '';
      }
    }
  }
}

.expereince {
  margin-bottom: 102px;
  .exp-sec {
    display: flex;
    justify-content: center;
    margin-bottom: 52px;
    min-height: 250px;
    >div {
      display: flex;
      justify-content: center;
      flex-flow: column;
    }
    .exp-l {
      flex: 1;
      &.txt {
        padding-left: 122px;
        width: 340px;
        flex: none;
      }
    }
    .exp-r {
      flex: 1;
      &.p {
        img {
          width: 90%;
        }
      }
    }
    .title {
      color: $blueDark;
      font-weight: 400;
    }
    small {
      display: block;
      margin-top: -4px;
      margin-bottom: 15px;
      font-size: 12px;
      font-weight: 500;
    }
    .exp-info {
      margin-left: 22px;
      font-size: 14px;
      .item {
        position: relative;
        margin-bottom: 6px;
        padding-left: 22px;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 6px;
          height: 6px;
          border-radius: 3px;
          transform: translate(0, -50%);
          background-color: $primary;
        }
      }
    }
    .pic {
      img {
        width: 80%;
      }
    }
  }
}

.language {
  margin-bottom: 102px;
  .lan-sec {
    .title {
      text-align: center;
      font-weight: 500;
      margin-bottom: 12px;
    }
  }
}
.items {
  display: flex;
  justify-content: center;
  margin: 0 -15px 32px -15px;
  flex-wrap: wrap;
  .item {
    padding: 0 15px;
    width: 20%;
    margin-bottom: 15px;
    .pic {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 6px;
      height: 92px;
      img {
        width: 40%;
      }
    }
    p {
      text-align: center;
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.devops {
  margin-bottom: 102px;
}
.education {
  margin-bottom: 102px;
  .edu-sec {
    position: relative;
    padding: 72px 0;
    &::after {
      position: absolute;
      content: '';
      width: 5px;
      height: 100%;
      background-color: $bdc;
      border-radius: 3px;
      left: 50%;
      top: 0;
      transform: translate(-50%);
      z-index: -1;
    }
    .edu-title {
      color: $blueDark2;
      text-align: right;
      margin-right: 50%;
      margin-bottom: 16px;
      font-style: italic;
      font-weight: bold;
      padding-right: 32px;
    }
    .edu-item {
      position: relative;
      width: 50%;
      text-align: right;
      margin-bottom: 32px;
      padding-right: 32px;
      &::after {
        content: '';
        position: absolute;
        right: -15px;
        top: 50%;
        background-color: #fff;
        transform: translate(0, -50%);
        width: 30px;
        height: 30px;
        border: 5px solid $bdc;
        border-radius: 50%;
      }
      &.r {
        text-align: left;
        margin-left: 50%;
        padding-left: 32px;
        padding-right: 0;
        &::after {
          left: -15px;
        }
      }
      &.lr {
        position: absolute;
        text-align: left;
        margin-left: 50%;
        padding-left: 32px;
        &::after {
          content: none;
        }
      }
      small {
        display: block;
        font-size: 13px;
        color: $blueDark2;
        &.b {
          margin-top: -4px;
          color: $blueDark;
          font-weight: 500;
          font-size: 10px;
        }
      }
      p {
        font-size: 21px;
        font-weight: 500;
        font-style: italic;
      }
    }
  }
}

.interests {
  margin-bottom: 102px;
  .int-sec {
    .pic {
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}

.goodbye {
  min-height: 72px;
  text-align: center;
}
