@media only screen and (max-width: 620px) {
  html, body {
    font-size: 12px;
  }
  .mb-1 {
    margin-bottom: 34px !important;
  }
  h1.title {
    font-size: 22px;
    margin-bottom: 72px;
    &::after {
      bottom: -26px;
      width: 120px;
    }
  }
  .row {
    margin: 0 -6px;
    .col {
      padding: 0 6px;
    }
    .col-3 {
      padding: 0 6px;
    }
  }
  .profile {
    padding: 10px 4px;
    .pic {
      width: 72px;
      height: 72px;
    }
  }
  .hi {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 32px;
  }
  .hello {
    padding: 120px 32px 124px 32px;
    h1 {
      font-size: 34px;
      letter-spacing: 3px;
    }
    h5 {
      font-size: 14px;
      letter-spacing: 6px;
      margin-bottom: 32px;
    }
    .link-profile {
      .box {
        height: 96px;
      }
    }
    hr {
      max-width: 102px;
      margin-bottom: 52px;
    }
    .sub-title {
      font-size: 18px;
      margin-bottom: 22px;
      font-weight: 400;
    }
  }
  .elements {
    min-height: 500px;
    padding-bottom: 124px;
  }
  .calendar {
    .item {
      p {
        margin-top: -4px;
        font-size: 16px;
      }
      span {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .card {
    >.pic {
      min-height: 120px;
      img {
        width: 100%;
      }
    }
  }
  .expereince {
    .exp-sec {
      min-height: auto;
      small {
        font-size: 8px;
        letter-spacing: 1px;
      }
      .exp-l {
        &.txt {
          padding-left: 0;
          width: auto;
          flex: 1;
        }
      }
      .exp-info {
        .item {
          margin-bottom: 0;
        }
      }
    }
  }
  .items {
    margin: 0 -15px 32px -15px;
    .item {
      padding: 0 15px;
      width: 33.33%;
    }
  }
  .education {
    padding: 0;
    .edu-sec {
      // .edu-title {}
      .edu-item {
        small {
          font-size: 9px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
  .interests {
    .int-sec {
      .pic {
        img {
          height: 100%;
        }
      }
    }
  }
}